In [1]:
import sqlite3

In [2]:
#connecting to a sqlite3 db
connection = sqlite3.connect("example.db")

In [3]:
cursor = connection.cursor()

In [ ]:
# create a table
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS employee(
    id INT PRIMARY KEY,
    name VARCHAR NOT NULL,
    age INT,
    department text
)
""")

## Commit the changes
connection.commit()

In [26]:
cursor.execute(
    """
    SELECT *
    FROM employee
"""
)   
cursor

In [27]:
#Inserting the data in sqlite3
cursor.execute("""
    INSERT INTO employee(name,age,department) VALUES("Shahul",32,"Data Scientist")""")
cursor.execute("""
    INSERT INTO employee(name,age,department) VALUES("Karthik",31,"Data Analyst")""")
cursor.execute("""INSERT INTO employee(name,age,department) VALUES("Akhil",30,"Data Engineer")""")
cursor.execute("""INSERT INTO employee(name,age,department) VALUES("Bharat",29,"ML Engineer")""")
cursor.execute("""INSERT INTO employee(name,age,department) VALUES("Mahi",28,"Software Engineer")""")
cursor.execute("""INSERT INTO employee(name,age,department) VALUES("Dharma",27,"Embedded Engineer")""")

connection.commit()

In [28]:
#Query the data from sqlite3 table
cursor.execute("""SELECT * FROM employee""")
rows = cursor.fetchall()
for row in rows:
    print(row)

(None, 'Shahul', 32, 'Data Scientist')
(None, 'Shahul', 32, 'Data Scientist')
(None, 'Karthik', 31, 'Data Analyst')
(None, 'Akhil', 30, 'Data Engineer')
(None, 'Bharat', 29, 'ML Engineer')
(None, 'Shahul', 32, 'Data Scientist')
(None, 'Karthik', 31, 'Data Analyst')
(None, 'Akhil', 30, 'Data Engineer')
(None, 'Bharat', 29, 'ML Engineer')
(None, 'Mahi', 28, 'Software Engineer')
(None, 'Dharma', 27, 'Embedded Engineer')
(None, 'Shahul', 32, 'Data Scientist')
(None, 'Karthik', 31, 'Data Analyst')
(None, 'Akhil', 30, 'Data Engineer')
(None, 'Bharat', 29, 'ML Engineer')
(None, 'Mahi', 28, 'Software Engineer')
(None, 'Dharma', 27, 'Embedded Engineer')
(None, 'Shahul', 32, 'Data Scientist')
(None, 'Karthik', 31, 'Data Analyst')
(None, 'Akhil', 30, 'Data Engineer')
(None, 'Bharat', 29, 'ML Engineer')
(None, 'Mahi', 28, 'Software Engineer')
(None, 'Dharma', 27, 'Embedded Engineer')

In [29]:
connection.close()